            <div class="footer_container">
                <footer class="site-footer">
                    <div class="footer-section section-credits">
                        <span class="credit-site">&copy; {{ date() | date('Y') }} {{ app_name }}</span>
                        <span class="credit-development"><a href="https://luketowers.ca/" target="_blank" title="Website Development Consulting">Website powered by Luke Towers Consulting</a>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/app.js',
        ]|theme }}"></script>
        {% scripts %}

        {% flash %}
            <p data-control="flash-message" data-interval="7" class="flashmessage {{ type }}">
                {{ message }}
            </p>
        {% endflash %}
    </body>
</html>
